body {
    font-family: 'Arial', sans-serif;
	background: linear-gradient(104.3deg, rgb(253, 243, 243) 10.9%, rgb(248, 231, 231) 27.8%, rgb(160, 112, 161) 101.7%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: rgba(255, 255, 255, 0.6); /* More transparent background */
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    overflow: hidden;
    width: 350px;
    max-width: 100%;
}

.login-form {
    padding: 40px 30px;
    text-align: center;
}

.login-form h2 {
    margin: 0 0 20px;
    color: #333;
    font-size: 24px;
}

.input-group {
	margin-right: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.login-button {
    background:#E0B0FF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.login-button:hover {
    background: #e00568;
}

.signup-link {
    margin-top: 15px;
    font-size: 14px;
}

.signup-link a {
    color:#E0B0FF;
    text-decoration: none;
    transition: color 0.3s;
}

.signup-link a:hover {
    color: #e00568;
}
